.changeLang {
    width: 60px;
    font-size: 20px;
    background-color: initial;
    color: #f59256;
    border: #f59256;
    outline: none;
    cursor: pointer;
}

.changeLangItem {
    color: #f59256;
}