.list {
  width: 100%;
  list-style: none;
  margin-bottom: 42px;
  @media screen and (min-width: 768px) {
    width: 379px;
    order: 1;
  }
  @media screen and (min-width: 1280px) {
    order: 2;
  }
}

.items {
  width: 379px;
  display: grid;
  grid-template-columns: 1fr 159px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #111111;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 216px 30px;
    font-size: 18px;
    line-height: 1.38;
  }
  @media screen and (min-width: 1280px) {
  }
}
.items_info {
  font-weight: 400;
}

.changebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--bg__color);
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.icon__profilePencil {
  width: 10px;
  height: 10px;
  fill: var(--backdrop__color);
  @media screen and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.input__change {
  max-width: 159px;
  max-height: 24px;
  padding: 4px 18px;
  margin-left: -8px;
  @media screen and (min-width: 768px) {
    max-width: 216px;
    max-height: 32px;
    margin-left: -10px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -15px;
  }
}
.check__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--bg__color);
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}
.icon__profileCheckMark {
  width: 11px;
  height: 8px;
  fill: var(--accent__color);
  @media screen and (min-width: 768px) {
    width: 17px;
    height: 13px;
  }
}
