.user__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 159px 20px;
      grid-template-columns: 1fr 159px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #111111;
}

.user__items:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .user__items {
    -ms-grid-columns: 100px 216px 30px;
        grid-template-columns: 100px 216px 30px;
    font-size: 18px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1280px) {
  .user__items {
    -ms-grid-columns: 1fr 216px 30px;
        grid-template-columns: 1fr 216px 30px;
  }
}

.items_info {
  font-weight: 400;
}

.change__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--bg__color);
  padding: 0;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .change__btn {
    width: 32px;
    height: 32px;
  }
}

.change__btn:hover, .change__btn:focus {
  background-color: var(--accent__color);
}

.change__btn:hover .icon__profilePencil {
  fill: var(--btn__color);
}

.change__btn:focus .icon__profilePencil {
  fill: var(--btn__color);
}

.icon__profilePencil {
  width: 10px;
  height: 10px;
  fill: var(--backdrop__color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .icon__profilePencil {
    width: 15px;
    height: 15px;
  }
}

.input__change {
  max-width: 159px;
  max-height: 24px;
  padding: 0 12px 5px 14px;
  margin-left: -8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.04em;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .input__change {
    max-width: 216px;
    max-height: 32px;
    margin-left: -10px;
    font-size: 18px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1280px) {
  .input__change {
    margin-left: -15px;
  }
}

.input__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--bg__color);
  padding: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .input__btn {
    width: 32px;
    height: 32px;
  }
}

.input__btn:hover {
  background-color: var(--accent__color);
}

.icon__profileCheckMark {
  width: 11px;
  height: 8px;
  fill: var(--accent__color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .icon__profileCheckMark {
    width: 17px;
    height: 13px;
  }
}

.input__btn:hover .icon__profileCheckMark {
  fill: var(--btn__color);
}

.input__birthday {
  max-width: 159px;
  max-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 5px 14px;
  margin-left: -8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  background-color: #fdf7f2;
  color: #111111;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  border-color: none;
}

@media screen and (min-width: 768px) {
  .input__birthday {
    max-width: 216px;
    max-height: 32px;
    font-size: 18px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1280px) {
  .input__birthday {
    margin-left: -15px;
  }
}

.input__birthday:hover, .input__birthday:focus {
  border: 1px solid rgba(236, 94, 6, 0.815);
  outline: none;
}

.input__birthdayDesk {
  max-width: 169px;
  max-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px 5px 14px;
  margin-left: -8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.04em;
  background-color: #fdf7f2;
  color: #111111;
  border: 1px solid rgba(245, 146, 86, 0.5);
  border-radius: 40px;
  border-color: none;
}

@media screen and (min-width: 1280px) {
  .input__birthdayDesk {
    margin-left: -15px;
  }
}

.input__birthdayDesk:hover, .input__birthdayDesk:focus {
  border: 1px solid rgba(236, 94, 6, 0.815);
  outline: none;
}

.user__title::first-letter {
  text-transform: uppercase;
}
/*# sourceMappingURL=Field.module.css.map */