@import './container.module.scss';

.navigationLinkWrapper {
  margin-right: auto;
}

.navigationLinkWrapperMenuBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigationLink {
  font-family: 'Manrope';
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 80px;
  }
  &.active {
    color: #f59256;
    text-decoration: underline;
  }
  &:hover {
    color: #f59256;
  }
}

.navigationLinkMenuBurger {
  font-family: 'Manrope';
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &.active {
    color: #f59256;
    text-decoration: underline;
  }
}

.buttonlink {
  font-family: 'Manrope';
  font-style: normal;
  background-color: #f59256;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 10px 28px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #f59256;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:nth-of-type(2) {
    color: black;
    background-color: #fff;
  }
}

.buttonlinkUser {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Manrope';
  font-style: normal;
  background-color: #f59256;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 10px 28px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #f59256;
  margin-right: 20px;
}

.buttonlinkMenuBurger {
  width: 100%;
  background-color: #f59256;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #f59256;
  padding: 8px 28px;
  max-width: 95px;
  &:not(:last-child) {
    margin-right: 12px;
  }
  &:nth-of-type(2) {
    color: black;
    background-color: #fff;
    max-width: 144px;
  }
}

.buttonlinkMenuBurgerUser {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background-color: #f59256;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  border-radius: 40px;
  border: 2px solid #f59256;
  padding: 8px 28px;
  max-width: 164px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
}

.burgerPetsIcon {
  cursor: pointer;
}

@media screen and (min-width: $breakpoint1280) {
  .burgerPetsIcon {
    display: none;
  }
}

@media screen and (max-width: $breakpoint768) {
  .navigationLink {
    display: none;
  }
  .buttonLinkWrapp {
    display: none;
  }

  .buttonlinkUser {
    display: none;
  }
}

@media screen and (max-width: $breakpoint1280) {
  .navigationLink {
    display: none;
  }
  .buttonLinkWrapp {
    margin-right: 20px;
  }
}
