ul{
    list-style: none;
}


.container{
width: 100%;
min-height: 100%;
background-size: 100%;
align-items: center;
padding-left: 20px;
padding-right: 20px;
@media screen and (min-width: 768px){
    padding-left: 32px;
    padding-right: 32px;
}
@media screen and (min-width: 1280px){
    padding-left: 20px;
    padding-right: 20px;
}
}


.title{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 40px;
    margin-top: 47px;
}

.friendsList{
    width: 280px;
    margin-bottom: -12px;
    margin-bottom: 100px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        width: 704px;
        display: flex;
        flex-wrap: wrap;
        
            
    }
    @media screen and (min-width: 1280px) {
        
    }
}

.friendItem{
    background: var(--btn__color);
    border-radius: 20px;
    margin-bottom: 12px;
    width: 280px;
    @media screen and (min-width: 768px) {
            width: 336px;
            margin-right: 32px;
    }
    
}

.itemTitle{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #F59256;
    padding-top: 12px;
    padding-bottom: 12px;
}

.ItemNetwork{
    display: flex;
}

.imgItem{
    margin-left: 4px;
    margin-right: 12px;
    width: 110px;
    height: 78px;
}

.infoItem{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.infoItemUl{
    margin-bottom: -4px;
    margin-bottom: 12px;
}

.itemInfoList{
    margin-bottom: 4px;
}

.infoItemWork{
}

.itemInfoList{}

.infoItemTime{
    text-align: start;
    padding-left: 0;
    
    border: none;
    background: none;
}

.infoItemAddress{
   
}

.friendItemEmail{}

.friendItemPhone{}
