@import '../../../components/Header/container.module.scss';

.searchBar__input_wrap {
  position: relative;
  text-align: -webkit-center;
  max-width: 608px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.searchBar__input {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: none;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  z-index: -1;

  @media screen and (max-width: $breakpoint768) {
    min-width: 280px;
    margin: 0 auto 28px auto;
  }
}

.searchBar__input::-webkit-input-placeholder {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #535353;

  vertical-align: middle;
}

.searchBar__input_button {
  background: transparent;
  border-style: none;
  position: absolute;
  top: 10px;
  right: 3%;
}

.searchBar__input_icon {
  fill: #111111;
  cursor: pointer;
}
