.searchBar__input {
  position: relative;
}

.searchBar__input::-webkit-input-placeholder {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #535353;
}

.searchBar__input_wrap {
  position: relative;
}

.searchBar__input_button {
  background: transparent;
  border-style: none;
  position: absolute;
  top: 10px;
  right: 13px;
  z-index: 2;
}

.searchBar__input_icon {
  fill: #111111;
  cursor: pointer;
}
