.pets__container {
  list-style: none;
  max-width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 740px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 820px;
  }
}
