.input__findpet {
  background-color: #ffffff;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 40px;

  margin: 28px 20px;

  & ::placeholder {
    color: #535353;
  }
}

.title__findpet {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #111111;

  margin-top: 42px;
  margin-bottom: 28px;
  margin-right: 20px;
  margin-left: 20px;

  text-align: center;
}
