.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 24px;
  left: 32px;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    position: absolute;
    bottom: 24px;
    left: 32px;
  }
  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
    position: static;
  }
}

.logout__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: var(--backdrop__color);
  cursor: pointer;
  outline: none;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
  }
}
.logaut__svg {
  fill: var(--accent__color);
  margin-right: 8px;
}
