.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 1280px) {
  }
}

.logout_btn {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(17, 17, 17, 0.6);

  outline: none;
  border-color: transparent;
  background-color: transparent;
}
