.NoticesCategoriesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.NoticesCategoriesList__Container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
