@import '../../../components/Header/container.module.scss';

.wrap_container {
  background-color: #fff;
  border-radius: 40px;
  // max-width: 704px;
  // height: 504px;
  display: flex;
  flex-wrap: wrap;
}

.wrap_container_padding {
  padding: 32px 24px 32px 20px;
  display: flex;
  flex-wrap: wrap;
}

.image {
  position: relative; // что абсолютные дочерние блоки распологались относительно этого блока
  display: inline-block;
  width: 288px;
  height: 328px;

  margin-bottom: 28px;

  @media screen and (max-width: $breakpoint768) {
    margin-bottom: 16px;
    width: 100%;
  }
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 40px 40px;
  object-fit: cover;
}

.sale {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(50px);
  width: 158px;
  height: 28px;
  border-radius: 0px 10px 10px 0px;

  // color: white;
  // background: red; // сюда свою картинку прописываете
  padding: 6px 54px 6px 20px;
  // border-radius: 10px;
  z-index: 10; // поднять значение, если перекрывается другими элементами, но не слишком высокое, что бы например не торчало поверх попапов
}

.text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #111111;

  width: max-content;

  @media screen and (max-width: $breakpoint768) {
    margin-bottom: 16px;
  }
}

.title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.01em;

  color: #000000;
  margin-bottom: 20px;

  @media screen and (max-width: $breakpoint768) {
    width: 240px;
    height: 66px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }

  @media screen and (min-width: $breakpoint768) {
    width: 321px;
  }
}

.wrap_info {
  margin-left: 20px;
}

.wrap_info_ul {
  display: flex;
  @media screen and (max-width: $breakpoint768) {
    margin-bottom: 28px;
  }
}

.wrap_info_first_column {
  margin-right: 50px;
}

.first_column {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.second_column {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.comments {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #000000;

  margin-bottom: 32px;

  @media screen and (max-width: $breakpoint768) {
    margin-bottom: 40px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: $breakpoint768) {
    flex-direction: column-reverse;
  }
}

.iconHeart {
  margin-left: 10px;
  width: 16.5px;
  height: 16.5px;
  fill: var(--backdrop__color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $breakpoint768) {
    background-color: var(--bg__color);
    width: 19.5px;
    height: 19.5px;
  }
}
