.AddNoticeButton__container {
  display: flex;
  // margin: 30px 0;
  align-items: center;

  @media screen and (max-width: 767.9px) {
    position: fixed;
    // left: 200px;
    // top: 232px;
    // margin-left: 0;
    right: 57px;
    top: 53%;
    z-index: 10;
  }
}

.AddNoticeButton__span {
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;

  color: #111111;

  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.AddNoticeButton__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background: #f59256;

  border-radius: 50%;
  border: none;

  margin-left: 12px;

  @media screen and (max-width: 767px) {
    width: 80px;
    height: 80px;
    margin-left: 0px;

    &::after {
      content: 'Add pet';
      margin-top: 5px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;

      color: #ffffff;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.AddNoticeButton__svg {
  @media screen and (max-width: 767px) {
    width: 22px;
    height: 22px;
  }
  width: 16px;
  height: 16px;
}
